{{ define "content" }}
<h2>Learning Resources</h2>

<button onclick="fetchResources('/fetch-youtube?query=golang')">Fetch YouTube Videos</button>
<button onclick="fetchResources('/fetch-devto')">Fetch Dev.to Articles</button>

<table>
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Source</th>
        <th>Link</th>
    </tr>
    {{ range .Resources }}
    <tr>
        <td>{{ .Title }}</td>
        <td>{{ .Category }}</td>
        <td>{{ .Source }}</td>
        <td><a href="{{ .URL }}" target="_blank">View</a></td>
    </tr>
    {{ end }}
</table>

<script>
function fetchResources(url) {
    fetch(url)
    .then(response => response.json())
    .then(data => {
        alert(data.message);
        location.reload();
    });
}
</script>
{{ end }}
